// media queries for responsiveness

@media (max-width: 600px) {
  @mixin section-fdiv-base {
    .section-heading {
      font-size: 1.25rem;
    }
    .lead {
      font-size: 0.95rem;
      margin-top: 0.1rem;
    }
  }
  //   .section-heading {
  //     font-size: 1.4rem;
  //   }
  //   .lead {
  //     font-size: 1rem;
  //     &-small {
  //       font-size: 0.79rem;
  //     }
  //   }
  //   h4 {
  //     font-size: 0.95rem;
  //   }
  //   navbar
  #main-navbar {
    .container {
      flex-direction: column;
      h1 {
        padding: 0.2rem;
        font-size: 1rem;
        margin: 0;
      }
      ul {
        li {
          padding: 0.2rem;
          margin-right: 0.5rem;
          a {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  //   showcase
  #showcase {
    .showcase-container {
      padding-top: 15vh;

      div {
        padding: 0 0.5rem;
      }

      h2 {
        font-size: 2.3rem;
      }

      .lead {
        font-size: 1rem;
      }
      .btn {
        padding: 0.3rem;
        font-size: 0.85rem;
        border: none;
      }
    }
  }
  //   section : skills,project & contact
  .section {
    &-a {
      .container-inner {
        > div {
          @include section-fdiv-base;
        }
      }
      .grid-container {
        padding: 0.25rem 0.75rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        .items {
          padding: 0.8rem 0;
          min-height: auto;
          &:hover {
            background: lighten($secondary-dark, 5%);
            transform: scale(1.05);
          }
          i {
            padding: 0.35rem;
            font-size: 1.5rem;
          }
        }
      }
    }
    &-b {
      .container-inner {
        padding: 0.5rem 2rem;
        > div {
          @include section-fdiv-base;
        }
      }
      .grid-container {
        display: flex;
        flex-direction: column;
        .project {
          &-1 {
            h4 {
              font-size: 1rem;
              margin-bottom: 0.3rem;
            }
            > div {
              img {
                width: 95%;
                margin: 0 auto;
              }
            }
          }
          &-2 {
            h4 {
              font-size: 1rem;
              margin-bottom: 0.3rem;
            }
            > div {
              img {
                width: 95%;
                margin: 0 auto;
              }
            }
          }
          &-3 {
            grid-template-columns: 1fr;
            grid-column-start: 1 / span;
            h4 {
              font-size: 1rem;
              margin-bottom: 0.3rem;
            }
            > div {
              img {
                width: 95%;
                margin: 0 auto;
                max-height: 16rem;
              }
            }
          }
        }
      }
    }
    &-c {
      .container-inner {
        padding: 0.5rem 1rem;
        > div {
          margin-bottom: 0.5rem;
          @include section-fdiv-base;
        }
      }
      .grid-container {
        grid-template-columns: 1fr;
        padding: 0;
        .image-puck {
          display: none;
        }
        .form-div {
          transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          form {
            .form-group {
              input[type="text"],
              input[type="email"] {
                &:focus {
                  border-width: 2px;
                  width: 45%;
                }
              }
            }
          }
        }
      }
    }
  }
  //   footer
  #main-footer {
    margin-top: 0.5rem;
    .container {
      padding: 0.5rem;
      flex-direction: column;
      div {
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 820px) {
  .section {
    &-a {
      .grid-container {
        grid-template-columns: repeat(3, 1fr);
        .items {
          min-height: auto;
        }
      }
    }
  }
}
