// css reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

// container
.container {
  max-width: $website-width;
  margin: 0 auto;
}

// a
a {
  text-decoration: none;
  color: $primary-dark;
}

// ul
ul {
  list-style: none;
}

.list-small {
  font-size: 0.8rem;
  line-height: 1.1;
  li {
    color: $text-primary;
  }
}

// span highlight
span.highlight {
  display: inline-block;
  background: #03dac5;
  padding: 0.2rem 0.25rem;
  color: $primary-dark;
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.4s;
}

span.highlight-small {
  display: inline-block;
  background: #ff7597;
  padding: 0.12rem 0.2rem;
  color: $primary-dark;
  font-weight: bold;
  border-radius: 6px;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  transition: all 0.3s;
  &:hover {
    padding: 0.25rem 0.35rem;
    background: darken(#ff7597, 5%);
  }
}

// p

.lead {
  font-size: 1.69rem;
  color: $text-primary;
  &-small {
    font-size: 1rem;
    color: $text-primary;
  }
}

// text

.text-center {
  text-align: center;
}

// section heading
.section-heading {
  font-size: 1.85rem;
}

// bottom line style
.bottom-line {
  height: 3px;
  width: 3rem;
  margin: 0 auto;
  background: $primary-color;

  &-small {
    height: 2px;
    width: 1rem;
    margin: 0 auto;
    background: #ff7597;
  }
}

// btn

.btn {
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border: none;
  color: $primary-dark;
  background: $primary-color;
  border-radius: 15px;
  font-weight: bold;
  transition: all 0.4s ease;
  cursor: pointer;

  &:hover {
    background: darken($primary-color, 6.9%);
    transform: scale(1.05);
  }
}

// padding classes

.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
}

.py {
  &-1 {
    padding: 0 1rem;
  }
  &-2 {
    padding: 0 2rem;
  }
  &-3 {
    padding: 0 3rem;
  }
}

// margin

.my {
  &-1 {
    margin: 1.5rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-1 {
    margin: 3rem 0;
  }
}

// project mixin
@mixin project-base {
  background: #272727;
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &:hover {
    transform: scale(1.0469);
    background: lighten($secondary-dark, 4%);
  }
}

// h4 mixin
@mixin h4-base {
  color: $text-primary;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

// section base mixin
@mixin section-base {
  .container-inner {
    > div {
      margin-bottom: 1.2rem;
      text-align: center;
      h3 {
        color: $text-primary;
        margin-bottom: 0.35rem;
      }
      .lead {
        font-size: 1.2rem;
      }
    }
  }
}

@mixin input-base {
  padding: 0.6rem 1rem;
  border-radius: 6px;
  outline: none;
  border: none;
  width: 45%;
  margin: 0 0.25rem;
  transition: all 0.25s;
  background: lighten($secondary-dark, 10%);
  color: $text-primary;
  &:focus {
    border: 2.25px solid desaturate($primary-color, 25%);
    width: 46.5%;
  }
}

@mixin icon-hover-base {
  color: $primary-color;
  cursor: pointer;
  animation: animate-icon 0.5s;

  @keyframes animate-icon {
    50% {
      transform: translateY(-4px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
