// main variables
$website-width: 1150px;
$primary-dark: #121212;
$secondary-dark: #272727;
$primary-color: #bb86fc;
$text-primary: #ccc;
$text-secondary: #f4f4f4;
$bg-image-2: url("../img/showcase.gif");
$primary-font: "Satisfy", cursive;
$secondary-font: "Roboto", sans-serif;
$tertiary-font: "Lato", sans-serif;
